<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>HelloAppEngine</servlet-name>
    <servlet-class>HelloAppEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloAppEngine</servlet-name>
    <url-pattern>/HelloAppEngine</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>staffEntry.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>StudentInformationSystem</servlet-name>
    <servlet-class>web.app.StudentInformationSystem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInformationSystem</servlet-name>
    <url-pattern>/StudentInformationSystem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentmarks</display-name>
    <servlet-name>studentmarks</servlet-name>
    <servlet-class>web.app.studentmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentmarks</servlet-name>
    <url-pattern>/studentmarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Querying</display-name>
    <servlet-name>Querying</servlet-name>
    <servlet-class>web.app.Querying</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Querying</servlet-name>
    <url-pattern>/Querying</url-pattern>
  </servlet-mapping>
</web-app>